.login-container {
    width: 20rem;
    height: 12rem;
}

.login-email {
    width: 80%;
    margin: 1rem;
    margin-bottom: 0rem !important;
}

.login-password {
    width: 80%;
    margin: 1rem;
    margin-bottom: 0rem !important;
}

.login-submit {
    width: 80%;
    margin: 1rem;
}