/* src/App.css */
.calendar-scheduler {
  display: flex;
  top: 0;
  bottom: 0;
  border: 1px solid #ccc;
  overflow-y: auto;
  max-height: 20rem;
  border-radius: 0.3rem;
  /* animation: fadeEffect 2s 2; */
  animation: fadeIn 1s;
}

.calendar-scheduler-flip {
  display: flex;
  top: 0;
  bottom: 0;
  border: 1px solid #ccc;
  overflow-y: auto;
  max-height: 20rem;
  border-radius: 0.3rem;
  animation: fadeEffect 1s;
  /* animation: fadeIn 5s; */
}

.time-column-orders {
  width: 20rem;
  /* display: flex; */
  flex-direction: column;
}

.time-slot {
  /* flex: 1; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 3rem;
}

.timeslot-legend {
  margin: 0;
  font-size: small;
}

.timeslot-fieldset {
  /* border: 1px groove #ddd !important; */
  padding: 2.0em 1.43em 1.43em 1.43em !important;
  border: none;
  margin: 0em;
  font-size: 0.81em !important;
}

.events-column-orders {
  position: relative;
  flex: 0 0 31.25rem;
  /* Fixed width for time column */
  /* border-right: 1px solid #ccc; */
  /* display: flex; */
  flex-direction: column;
}

.event-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.06rem solid #ccc;
  height: 1.6rem;
}


.event {
  position: absolute;
  width: 31rem;
  background-color: rgb(52, 176, 234);
  color: #fff;
  padding: 0.3rem;
  cursor: pointer;
  text-align: left;
  border-bottom: 2px solid white;
}

.event-tournament {
  position: absolute;
  width: 31rem;
  background-color: #a6915c;
  color: #fff;
  padding: 0.3rem;
  cursor: pointer;
  text-align: left;
  border-bottom: 2px solid white;
}

.event-coaching {
  position: absolute;
  width: 31rem;
  background-color: #ad6c94;
  color: #fff;
  padding: 0.3rem;
  cursor: pointer;
  text-align: left;
  border-bottom: 2px solid white;
}

.event-cancelled {
  position: absolute;
  width: 100%;
  background-color: #D7DBDD;
  /* background-color: #8ccaf4; */
  color: black;
  padding: 0.3rem;
  cursor: pointer;
  text-align: left;
  border-bottom: 2px solid white;
}

.event:focus {
  /* background-color: black; */
  border-left: 0.4rem solid rgb(24, 115, 185);
}

.event-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  height: 1.5rem;
}


.current-time-cursor {
  position: absolute;
  left: 0;
  /* Adjust left position to align with the time slots column */
  right: 0;
  top: 0;
  height: 0.12rem;
  background-color: #e74c3c;
}

.current-time-cursor::before {
  content: "";
  display: block;
  position: absolute;
  top: -0.18rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e74c3c;
  border-radius: 50%;
}

.calendar-scheduler::-webkit-scrollbar {
  width: 0.6rem;
  /* width of the entire scrollbar */
}

.calendar-scheduler::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  /* color of the scroll thumb */
  border-radius: 0.6rem;
  /* roundness of the scroll thumb */
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}