.upcomingpage {
  display: inline;
}

.upcomingpage-courts-tab-header {
  max-width: 39rem;
  /* Adjust the width as needed */
  height: 8rem;
  margin: 0;
  padding: 0;
  border-radius: 0.6rem 0.6rem 0rem 0rem;
}

.upcomingpage-courts-tab {
  /* margin-top: 1.2rem; */
  height: 25rem;

}

.ant-tabs {
  height: 3rem;
  margin: 0;
  border-color: #d0d7de;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 0.06rem;
}

.ant-tabs-tab {
  color: #333;
  border: 0.06rem solid #e8e8e8;
  background-color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-right: 0;
}

.ant-tabs-tab-active {
  background-color: #1890ff;
  color: #fff;
  border-color: #1890ff;
}

.ant-tabs-ink-bar {
  background-color: #1890ff;
}

.ant-tabs-content {
  /* padding: 16px; */
  border: 0.06rem solid #e8e8e8;
  border-radius: 5px;
}

/* Optional: Add space between tabs for better readability */
.ant-tabs-tab {
  margin-right: 0.5rem;
}



@media only screen and (min-width : 768px) {
  .upcomingpage {
    display: flex;
    justify-content: center;
  }

  .upcomingpage-courts {
    width: 50%;
    height: auto;
    margin: 0.3rem;
  }

  .upcomingpage-displayorder {
    margin-left: 1.8rem;
    width: 30%;
    height: 25rem;
  }
}

@media only screen and (max-width : 768px) {

  .upcomingpage-courts {
    width: 100%;
    height: auto;
  }

  .upcomingpage-displayorder {
    width: 100%;
    height: 20rem;
  }
}