.badminton {
  display: flex;
  /* justify-content: center; */
}

.backbutton {
  margin: 0;
  position: absolute;
  z-index: 10;
}

.carousel-container {
  width: 70rem;
  /* Adjust the width as needed */
  height: 60vh;
  border-radius: 0.3rem;
  margin: 0.3rem;
}

.css-1fzpoyk:nth-of-type(1) {
  transform: translateY(-50%) translateX(-50%) scale(0.7) !important;
}

.css-1fzpoyk:nth-of-type(3) {
  left: 75% !important;
  transform: translateY(-50%) translateX(-50%) scale(0.7) !important;
}

.css-1fzpoyk:nth-of-type(3) img {
  height: 70vh !important;
  object-fit: cover;
}

.css-1fzpoyk:nth-of-type(1) img {
  height: 70vh !important;
  object-fit: cover;
}

.css-1qzevvg {
  margin: 0.06rem 30rem 0px !important;
  height: 0.6rem !important;
  padding: 0rem;
  top: -0.9rem;
  z-index: 10;
}

.css-1qzevvg img {
  /* margin: 0px !important; */
  margin: 0 !important;
}

.badminton-courts-tab-header {
  max-width: 39.37rem;
  /* Adjust the width as needed */
  height: 7.8rem;
  margin: 0rem;
  padding: 0rem;
  border-radius: 0.6rem 0.6rem 0rem 0rem;
  background-color: none;
}

.badminton-courts-tab {
  margin-top: 0.6rem;
}

.badminton-courts {
  width: 39.37rem;
  height: auto;
  margin: 0.3rem;
}

.ant-tabs {
  height: 3.12rem;
  margin: 0rem;
  border-color: #d0d7de;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 0.06rem;
}

.ant-tabs-tab {
  color: #333;
  border: 0.06rem solid #e8e8e8;
  background-color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-right: 0;
}

.ant-tabs-tab-active {
  background-color: #1890ff;
  color: #fff;
  border-color: #1890ff;
}

.ant-tabs-ink-bar {
  background-color: #1890ff;
}

.ant-tabs-content {
  /* padding: 16px; */
  border: 0.06rem solid #e8e8e8;
  border-radius: 0.3rem;
}

/* Optional: Add space between tabs for better readability */
.ant-tabs-tab {
  margin-right: 0.5rem;
}

.date-month {
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  float: left;
  margin-left: 0.6rem;
  margin-top: 0.3rem;
  font-size: large;
  font-weight: 400;
}

.date-today {
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  float: right;
  margin-right: 1.3rem;
  margin-top: 0.3rem;
  font-size: large;
  font-weight: 400;
}


.panel2 {
  max-width: 21.87rem;
  margin-left: 1.87rem;
}

.options-button {
  margin-top: 0.3rem;
}

.options-button-clear {
  margin-left: 0.3rem;
}