.badminton {
  display: inline;
  /* justify-content: center; */
}

.backbutton {
  margin: 0;
  position: absolute;
  z-index: 10;
  opacity: 0.5;
  width: 2.5rem;
  /* border-radius: 90%; */
}

.badminton-courts-tab-header {
  /* max-width: 39.37rem; */
  /* Adjust the width as needed */
  height: 8rem;
  margin: 0rem;
  padding: 0rem;
  border-radius: 0.6rem 0.6rem 0rem 0rem;
  background-color: none;
}

.badminton-courts-tab {
  height: 25rem;
}

.badminton-courts {
  /* width: 39.37rem; */
  width: 100%;
  height: auto;
  /* margin: 0.3rem; */
}

.ant-tabs {
  height: 3.12rem;
  margin: 0rem;
  border-color: #d0d7de;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 0.06rem;
}

.ant-tabs-tab {
  color: #333;
  border: 0.06rem solid #e8e8e8;
  background-color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-right: 0;
}

.ant-tabs-tab-active {
  background-color: #1890ff;
  color: #fff;
  border-color: #1890ff;
}

.ant-tabs-ink-bar {
  background-color: #1890ff;
}

.ant-tabs-content {
  /* padding: 16px; */
  border: 0.06rem solid #e8e8e8;
  border-radius: 0.3rem;
}

/* Optional: Add space between tabs for better readability */
.ant-tabs-tab {
  margin-right: 0.5rem;
}

.date-month {
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  float: left;
  margin-left: 0.6rem;
  margin-top: 0.3rem;
  font-size: large;
  font-weight: 400;
}

.date-today {
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  float: right;
  margin-right: 1.3rem;
  margin-top: 0.3rem;
  font-size: large;
  font-weight: 400;
}



.options-button {
  margin-top: 0.3rem;
}

.options-button-clear {
  margin-left: 0.3rem;
}

.breadcrumb {
  height: 1.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.breadcrumb .ant-breadcrumb-link:hover {
  cursor: pointer;
}


/* laptop */
@media only screen and (min-width : 768px) {
  .carousel-container {
    width: 100%;
    height: 50vh;
    border-radius: 0.3rem;
    margin-bottom: 0.2rem;
    margin-bottom: 0.6rem;
  }

  .carousel1,
  .carousel2,
  .carousel3,
  .carousel4 {
    width: 100%;
    height: 50vh;
  }

  .badminton {
    display: flex;
    justify-content: center;
  }

  .badminton-courts {
    width: 50%;
    height: auto;
  }

  .panel2 {
    width: 30%;
    margin-bottom: 0.3rem;
    margin-left: 2rem;
  }
}

@media only screen and (max-width : 768px) {
  .carousel-container {
    width: 100%;
    height: 30vh;
    border-radius: 0.3rem;
    margin-bottom: 0.2rem;
  }

  .carousel1,
  .carousel2,
  .carousel3,
  .carousel4 {
    width: 100%;
    height: 30vh;
  }

  .panel2 {
    width: 100%;
    margin-bottom: 0.3rem;
  }

}