.bookingpanel-body {
  width: 350px;
  height: 410px;
  background-color: #f8f8f8;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  padding: 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.bookingpanel-body fieldset {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  padding: 6px;
  width: 100%;
}

.bookingpanel-body fieldset:hover {
  border-color: rgb(87, 159, 231);
}

.bookingpanel-body legend {
  font-size: medium;
  margin: 0;
}

.bookingpanel-body > fieldset > div {
  /* margin-top: 1px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px; */
  font-size: small;
  margin-left: 10px;
  float: right;
  /* text-align: center; */
}

button {
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: none;
}

.bookingpanel-sport,
.bookingpanel-date,
.bookingpanel-from,
.bookingpanel-to,
.bookingpanel-court,
.bookingpanel-cost,
.bookingpanel-type {
  height: 40px;
  width: 95%;
  padding: 10px;
  background-color: white;
  margin-top: 10px;
  transition: opacity 0.5s ease-in-out;
}

.bookingpanel-sport.fade-out,
.bookingpanel-date.fade-out,
.bookingpanel-court.fade-out,
.bookingpanel-from.fade-out,
.bookingpanel-to.fade-out,
.bookingpanel-cost.fade-out {
  animation: fadeEffect 1s both;
}

.bookingpanel-court.fade-in {
  animation: fadeEffect1 1s both;
}

.bookingpanel-date.fade-in {
  animation: fadeEffect1 1s both;
}

.bookingpanel-from.fade-in {
  animation: fadeEffect1 1s both;
}

.bookingpanel-to.fade-in {
  animation: fadeEffect1 1s both;
}

@keyframes fadeEffect1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.bookingpanel-left {
  float: left;
}

.bookingpanel-right {
  float: right;
}

.reserve-slot {
  height: 30px;
  width: 95%;
}
.reserve-slot-btn {
  width: 100%;
  margin-top: 10px;
}

.bookingtypeSelect {
  margin-top: 0px;
  padding: 0px;
}
